:root {
  --base_color: #000000;
  --reason_color: #333333;
  --main_reason: #ffffff;
  --rating: #666666;
  --brown: #766357;
  --brown_hover: #604e43;
  --brown_active: #503e33;
  --blue: #81B3D2;
  --blue_active: #94b9d2;
  --blue_hover: #5496bd;
  --rate_text_background: #f2f2f2;
  --background_for_advice_block_second: #EEEEEE;
  --form_stroke_hover: #dddcdc;
  --border_hotels: #e5e5e5;
}

.page {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  border: 0px;
  display: flex;
  /*
  background-image: url("../img/white_back.png");
  background-repeat: no-repeat;
  background-position: top center;
  border-color: transparent;*/
  box-shadow: 0 1px 3px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--border_hotels);
}

.page_body {
  min-height: 100%;
  background-image: url("../img/white_back.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.page_body {
  min-width: 1200px;
  font-family: "PTSans", Arial;
  background-color: white;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--main_reason);
  background-position: top center;
}

.main {
  padding-left: 50px;
  padding-right: 50px;
}

.header_index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--base_color);
}

.navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  min-height: 56px;
  width: 100%;
}

.navigation a:hover {
  color: var(--blue);
  ;
  cursor: pointer;
}

.navigation {
  width: 100%;
  display: flex;
  margin-bottom: -25px;
  align-items: center;
  width: 1180px;
}

.header_index {
  background-image: url("../img/backdrop_index.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: inherit;
  width: 100%;
  height: 509px;
}

.reason_housing:hover {
  color: var(--blue);
  cursor: pointer;
}

.reason_food:hover {
  color: var(--blue);
  cursor: pointer;
}

.reason_souvenirs:hover {
  color: var(--blue);
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 20px;
  margin: 42.5px 365px 16.5px 365px;
}

.invitation_title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 100;
  color: var(--reason_color);
  text-align: center;
  padding-right: 100px;
  padding-right: 15px;
  margin-bottom: 51px;
}

margin: 0px 341px 51px 340px;
}

.reason-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--main_reason);
}

.reason_blue {
  width: 400px;
  height: 256px;
  background-color: var(--blue);
  ;
  color: var(--main_reason);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0;
}

.main_reason_title {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-top: 47px;
  margin: 0px 139px 25px 139px;
}

.main_reason_block_first {
  display: flex;
}

.main_reason_block_second {
  display: flex;
}

.main_reason_number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  color: var(--main_reason);
}

.first_main_reason_picture {
  background-image: url("../img/svg-sedona/mnrn1.png");
  width: 799px;
  height: 256px;
}

.second_main_reason_picture {
  background-image: url("../img/svg-sedona/mnrn2.png");
  width: 799px;
  height: 256px;
}

.main_reason_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  color: var(--main_reason);
}

.reason_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  color: var(--reason_color);
}

.reason {
  padding: 60px 0 60px;
  text-align: center;
  line-height: 20px;
}

.reason_housing::before {
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 72px;
  background: url("../img/housing.png") no-repeat 0 0;
}

.reason_food::before {
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 72px;
  background: url("../img/meal.png") no-repeat 0 0;
}

.reason_souvenirs::before {
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 76px;
  background: url("../img/souvenirs.png") no-repeat 0 0;
}

.advice {
  display: flex;
  justify-content: space-around;
  margin: 100px;
}

.advice p {
  font-size: 14px;
  line-height: 21px;
  color: var(--reason_color);
  text-align: center;
  text-transform: uppercase;
}

.advice>span {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advice_block_second {
  display: flex;
  justify-content: space-around;
  background-color: var(--background_for_advice_block_second);
}

.question_block {
  text-align: center;
  margin: 58px;
  padding-right: 35px
}

.question {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.form {
  font-size: 14px;
  line-height: 26px;
  color: var(--base_color);
  border: 0px;
  border-color: transparent;
  box-shadow: 0 1px 3px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.application_form {
  width: 568px;
  height: 395px;
  margin: 0 auto;
}

.search_info {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 100;
  margin-top: 35px;
  margin-bottom: 50px;
}

.button_search {
  text-align: center;
  color: var(--main_reason);
  text-transform: uppercase;
  background-color: var(--brown);
  border: none;
  width: 568px;
  height: 86px;
  padding: 30px 124px 30px 125px;
  font-size: 21px;
  line-height: 26px;
}

.button_search:hover {
  background-color: var(--brown_hover);
  cursor: pointer;
}

.button_search:active {
  background-color: var(--brown_active);
  color: var(--main_reason);
}

.button_search:focus {
  background-color: var(--brown_active);
  color: var(--main_reason);
}

.search_hotel_location {
  text-align: center;
  color: var(--main_reason);
  text-transform: uppercase;
  background-color: var(--blue);
  border: none;
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
  margin: 54px 55px 55px 55px;
}

.search_hotel_location:hover {
  background-color: var(--blue_hover);
  cursor: pointer;
}

.search_hotel_location:focus {
  background-color: var(--blue_active);
  color: var(--blue_active);
}

.search_hotel_location:active {
  background-color: var(--blue_active);
  color: var(--blue_active);
}

.search_form_field {
  position: relative;
  left: 5px;
  background-color: var(--main_reason);
  text-decoration-color: var(--base_color);
  width: 346px;
  height: 38px;
  background-color: var(--rate_text_background);
}

.search_form_field:hover {
  background-color: var(--form_stroke_hover);
  cursor: pointer;
}

.search_form_field:focus {
  background-color: var(--form_stroke_hover);
  color: var(--form_stroke_hover);
}

.form_number {
  background-color: var(--rate_text_background);
  width: 114px;
  height: 38px;
}

.form_number:hover {
  background-color: var(--form_stroke_hover);
  cursor: pointer;
}

.form_number:focus {
  background-color: var(--form_stroke_hover);
  color: var(--form_stroke_hover);
}

.search_form_label_guest {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.contacts {
  list-style: none;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 23px;
  padding-left: 0;
}

.footer_social {
  margin-top: 36px;
}

.logo_academy {
  font-size: 14px;
  line-height: 26px;
  font-weight: 100;
  display: flex;
  margin-top: 49px;
}

.logo_academy_img {
  background-image: url("../img/svg-sedona/logo.png");
  width: 115px;
  height: 41px;
  margin-left: 8px;
  margin-top: -10px;
}

.header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  background-image: url("../img/background_filter.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 217px;
}

.filter_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.housing_params {
  display: flex;
  margin-top: 26.5px;
}

.filter_categories {
  font-size: 16px;
  line-height: 21px;
  color: var(--main_reason);
  margin-bottom: 25px;
}

.check {
  font-weight: 100;
  color: var(--main_reason);
  display: block;
  color: var(--main_reason);
  position: relative;
  margin-bottom: 25px;
}

.checkbox {
  display: none;
  position: absolute;
}

.check::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  left: -37px;
}

.infra input:checked+.check::before {
  background: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
}

.housings_type input:checked+.check::before {
  background: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
}

.btn_transparent {
  font: inherit;
  font-weight: 100;
  color: var(--main_reason);
  background: transparent;
  border: 2px solid;
  border-color: var(--main_reason);
  border-radius: 2px;
  cursor: pointer;
  width: 137px;
  height: 36px;
}

.infra {
  margin-left: 72px;
  margin-bottom: 25px;
}

.housings_type {
  margin-left: 120px;
}

.btn_transparent:hover {
  color: var(--main_reason);
  opacity: 0.5;
  cursor: pointer;
}

.sort {
  padding-top: 3px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
  display: flex;
  margin-top: 32px;
}

.sort_title {
  font-size: 12px;
  margin-left: 40px;
}

.sort_option {
  border-bottom: 1px dotted #000;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  margin-left: 40px;
  margin-bottom: auto;
}

.sort_option:hover {
  color: var(--blue);
  cursor: pointer;
}

.catalogue_sort_list {
  display: flex;
}

.catalogue_sort_list>h1 {
  margin-top: 30px;
}

fieldset {
  border: none;
}

fieldset>.check {
  font-size: 14px;
  line-height: 21px;
  color: var(--main_reason);
}

.hotels {
  font-size: 14px;
  line-height: 21px;
  color: var(--base_color);
}

.hotels .title_hotel {
  font-size: 21px;
  line-height: 26px;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: var(--rating);
  font-weight: 100;
}

.hotels .hotels_type {
  color: var(--reason_color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  margin: 0 auto;
}

.hotel_rate_text {
  text-align: center;
  background-color: var(--rate_text_background);
  padding: 3px 13px;
  font-weight: 100;
}

.hotels>a {
  color: var(--main_reason);
}

section .hotel {
  display: flex;
  border: 1px solid;
  border-color: var(--border_hotels);
}

.hotel_img {
  margin: 30px 29px 31px 73px;
}

.hotel_info {
  display: flex;
  flex-direction: column;
}

.hotel_type .hotel_price {
  display: flex;
  justify-content: space-between;
}

.hotel_action {
  display: flex;
}

.hotel_action .hotel_rate_text {
  display: flex;
  margin-left: 522px;
}

.button_blue {
  font: inherit;
  color: var(--main_reason);
  background: var(--blue);
  ;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px 3px 16px;
  margin-right: 6px;
}

.button_blue:hover {
  background-color: var(--blue_hover);
  cursor: pointer;
}

.button_blue:active {
  background-color: var(--blue_active);
  color: var(--blue_active);
}

.button_blue:focus {
  background-color: var(--blue_active);
  color: var(--blue_active);
}

.button_brown {
  font: inherit;
  color: var(--main_reason);
  background: #766357;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px 3px 16px;
}

.button_brown:hover {
  background-color: var(--brown_hover);
  cursor: pointer;
}

.button_brown:active {
  background-color: var(--brown_active);
  color: var(--main_reason);
}

.button_brown:focus {
  background-color: var(--brown_active);
  color: var(--main_reason);
}

img {
  max-width: 100%;
  height: auto;
}
