:root {
  --base_color: #000000;
  --reason_color: #333333;
  --main_reason: #ffffff;
  --rating: #666666;
  --brown: #766357;
  --brown_hover: #604e43;
  ;
  --brown_active: #503e33;
  --blue: #81b3d2;
  --blue_active: #5496bd;
  --blue_hover: #669ec0;
  --rate_text_background: #f2f2f2;
  --background_for_advice_block_second: #EEEEEE;
  --form_stroke_hover: #EBEBEB;
  --border_hotels: #e5e5e5;
  --disabled: #6a6a6a;
}

.page {
  height: 100%;
  background-color: var(--rate_text_background);
  /*
  width: 1200px;
  margin: 0 auto;
  border: 0px;
  display: flex;
  box-shadow: 0 1px 3px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--border_hotels);*/
}

.page_body {
  font-family: "PTSans", Arial, sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--main_reason);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.page_body {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
}

.main {
  padding-left: 50px;
  padding-right: 50px;
}

.header_index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--base_color);
}

.navigation a {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  min-height: 56px;
}

.navigation_align_left {
  text-align: left;
  padding-left: 65px;
}

.navigation_align_right {
  text-align: right;
  padding-right: 50px;
}

.logo {
  padding-left: 40px;
}

.navigation a:hover {
  color: var(--blue);
  cursor: pointer;
}

.navigation a:active {
  color: var(--base_color);
  opacity: 0.3;
}

.navigation a:focus {
  color: var(--brown);
}

.navigation {
  display: flex;
  margin-bottom: -25px;
  align-items: center;
  width: 1180px;
}

.header_index {
  background-color: var(--main_reason);
}

.header_index {
  background-image: url("../img/backdrop_index.jpg");
  background-repeat: no-repeat;
  background-size: inherit;
  width: 100%;
  height: 509px;
}

.header_index::after {
  background: url("../img/white_arrows.png");
  content: "";
  display: block;
  width: 100%;
  height: 55px;
  margin-top: 454px;
}

.title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 20px;
  margin: 40px auto 15px;
  width: 420px;
}

.invitation_title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 100;
  color: var(--reason_color);
  text-align: center;
  padding-right: 15px;
  margin-bottom: 51px;
}

.reason-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--main_reason);
}

.reason_blue {
  width: 34%;
  height: 256px;
  background-color: var(--blue);
  ;
  color: var(--main_reason);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0;
}

.main_reason_title {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-top: 37px;
}

.main_reason_block_first {
  display: flex;
  padding-top: 10px;
}

.main_reason_block_second {
  display: flex;
  padding-top: 15px;
}

.main_reason_number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  color: var(--main_reason);
  padding-top: 10px;
}

.first_main_reason_picture {
  background-image: url("../img/mnrn1.png");
  width: 800px;
  height: 256px;
}

.second_main_reason_picture {
  background-image: url("../img/mnrn2.png");
  width: 800px;
  height: 256px;
}

.main_reason_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  color: var(--main_reason);
  padding-top: 10px;
}

.reason {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.reason_title {
  margin-top: -5px;
  margin-left: 20px;
}

.reason_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  color: var(--reason_color);
  text-align: center;
  margin-top: 25px;
  margin-left: 30px;
}

.reason_text_number {
  text-align: center;
  margin-left: 25px;
  font-size: 14px;
  font-weight: 100;
}

.reason_housing::before {
  background: url("../img/housing.png") no-repeat 50% 0;
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 72px;
}

.reason_housing:hover {
  color: var(--blue);
  cursor: pointer;
}

.reason_food:hover {
  color: var(--blue);
  cursor: pointer;
}

.reason_souvenirs:hover {
  color: var(--blue);
  cursor: pointer;
}

.reason_food::before {
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 72px;
  background: url("../img/meal.png") no-repeat 0 0;
}

.reason_souvenirs::before {
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 76px;
  background: url("../img/souvenirs.png") no-repeat 0 0;
}

.advice {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 50px;
}

.advice h3 {
  font-size: 21px;
  text-align: center;
}

.advice p {
  font-size: 14px;
  line-height: 21px;
  color: var(--reason_color);
  text-align: center;
  text-transform: uppercase;
}

.advice_block_second {
  display: flex;
  justify-content: space-around;
  background-color: var(--background_for_advice_block_second);
  padding-bottom: 50px;
}

.question_block {
  text-align: center;
  margin: 50px 0;
}

.question {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.form {
  font-size: 14px;
  line-height: 26px;
  color: var(--base_color);
  border: 0px;
  border-color: transparent;
  position: relative;
  background-color: var(--main_reason);
  padding: 40px;
  animation: 0.5s fadeOut;
  animation-fill-mode: forwards;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.form_hidden {
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: : 1;
  }

  20% {
    opacity: 0.8
  }

  40% {
    opacity: 0.6
  }

  60% {
    opacity: 0.4
  }

  80% {
    opacity: 0.2
  }

  100% {
    opacity: 0
  }
}

@keyframes fadeOut {
  0% {
    opacity: : 0;
  }

  20% {
    opacity: 0.2
  }

  40% {
    opacity: 0.4
  }

  60% {
    opacity: 0.6
  }

  80% {
    opacity: 0.8
  }

  100% {
    opacity: 1
  }
}

.map {
  margin-top: -385px;
}
iframe {
  vertical-align: middle;
}
.application_form {
  width: 570px;
  margin: 0 auto;
}

.search_info {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 100;
  margin-top: 35px;
  margin-bottom: 50px;
}

.button_search {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--main_reason);
  background-color: var(--brown);
  border: none;
  padding: 30px 10px;
  font-size: 21px;
  text-transform: uppercase;
}

.button_search:hover {
  background-color: var(--brown_hover);
  cursor: pointer;
}

.button_search:active {
  background-color: var(--brown_active);
  color: var(--main_reason);
  outline: none;
}

.button_search:focus {
  background-color: var(--brown_active);
  color: var(--main_reason);
}

.search_hotel_location {
  display: block;
  padding: 12px;
  text-align: center;
  color: var(--main_reason);
  text-transform: uppercase;
  background-color: var(--blue);
  border: none;
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
  margin: 0 auto;
  opacity: 1;
  backface-visibility: hidden;
  margin-top: 32px;
  margin-left: 15px;
}

.search_hotel_location:hover {
  background-color: var(--blue_hover);
  cursor: pointer;
}

.search_hotel_location:focus {
  background-color: var(--blue_active);
  color: var(--blue_active);
}

.search_hotel_location:active {
  opacity: 0.5;
  background-color: var(--blue_active);
  color: var(--blue_active);
}

.search_form_input {
  padding: 10px;
  margin-right: 55px;
  margin-top: 5px;
  background-color: var(--rate_text_background);
  width: 340px;
  border: none;
  outline: none;
}

.search_form_input:hover {
  background-color: var(--form_stroke_hover);
  cursor: pointer;
}

.search_form_input:focus {
  background-color: var(--main_reason);
  outline: none;
}

.calendar {
  background: url("../img/calendar.png");
  background-repeat: no-repeat;
  position: relative;
  width: 23px;
  height: 23px;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-left: -100px;
}

.calendar:hover {
  background: url("../img/calendar_hover.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.calendar:active {
  background: url("../img/calendar_active.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.form_number {
  background-color: var(--rate_text_background);
  height: 38px;
  margin-right: 20px;
  width: 114px;
  height: 38px;
}

.form_number:hover {
  background-color: var(--form_stroke_hover);
  cursor: pointer;
}

.form_number:focus {
  background-color: var(--main_reason);
  outline: none;
}

.button_minus {
  background: url("../img/minus.png");
  background-repeat: no-repeat;
  position: relative;
  width: 12px;
  height: 3px;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-left: -130px;
}

.button_minus:hover {
  background: url("../img/minus_hover.png");
  cursor: pointer;
}

.button_minus:active {
  background: url("../img/minus_active.png");
  cursor: pointer;
}

.button_plus {
  background: url("../img/plus.png");
  background-repeat: no-repeat;
  position: relative;
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
  margin-left: 75px;
}

.button_plus:hover {
  background: url("../img/plus_hover.png");
  cursor: pointer;
  background-repeat: no-repeat;
}

.button_plus:active {
  background: url("../img/plus_active.png");
  cursor: pointer;
  background-repeat: no-repeat;
}

.search_form_label_guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_form_label {
  margin-right: 10px;
  margin-left: 10px;
}

.footer_index {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: -130px;
  background-color: rgba(255, 255, 255, 0.8);
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer_inner {
  display: flex;
  justify-content: space-around;
  background-color: var(--main_reason);
}

.contacts {
  list-style: none;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 23px;
}

.footer_social {
  margin-top: 36px;
  margin-right: 25px;
}

.twitter {
  display: inline-block;
  background: url("../img/twitter.png");
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}

.twitter:hover {
  background: url("../img/twitter_hover.jpg");
}

.twitter:active {
  background: url("../img/twitter_active.jpg");
}

.facebook {
  display: inline-block;
  background: url("../img/fb.png");
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}

.facebook:hover {
  background: url("../img/facebook_hover.jpg");
}

.facebook:active {
  background: url("../img/facebook_active.jpg");
}

.youtube {
  display: inline-block;
  background: url("../img/youtube.png");
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}

.youtube:hover {
  background: url("../img/youtube_hover.jpg");
}

.youtube:active {
  background: url("../img/youtube_active.jpg");
}

.logo_academy {
  font-size: 14px;
  line-height: 26px;
  font-weight: 100;
  display: flex;
  margin-top: 49px;
}

.logo_academy_img {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  width: 115px;
  height: 41px;
  margin-left: 8px;
  margin-top: -10px;
}

.logo_academy_img:hover {
  background: url("../img/logo_academy_hover.jpg");
  background-repeat: no-repeat;
}

.logo_academy_img:active {
  background: url("../img/logo_academy_active.jpg");
  background-repeat: no-repeat;
}

.header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/background_filter.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 217px;
}

.filter_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -210px;
  padding-left: 50px;
  padding-right: 50px;
}

.housing_params {
  display: flex;
  margin-top: 26px;
}

.filter_categories {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: var(--main_reason);
  margin-bottom: 15px;
  margin-left: 5px;
}

/*------ FILTER-CATALOGUE --------*/
.filter_range {
  width: 320px;
  margin: 0 auto;
  /* для демо */
  margin-right: 70px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter_range_title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filter-range {
  margin-top: 3px;
  margin-right: 0px;
}

.price_controls input {
  height: 22px;
}

.price_controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price_controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.max-price input {
  margin-right: 15px;
}

.price_controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price_controls .min_price,
.price_controls .max_price {
  width: 90px;
  padding-left: 60px;
}

.price_controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range_controls {
  position: relative;
  margin-bottom: 32px;
}

.range_controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar {
  width: 150px;
  height: 2px;
  background: #ffffff;
}

.range_toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range_toggle:hover {
  background: #1c4f80;
  width: 5px;
  height: 5px;
  cursor: pointer;
}

.range_toggle_min {
  left: 0;
}

.range_toggle_max {
  left: 150px;
}

.btn_transparent {
  width: 137px;
  height: 37px;
  display: block;
  margin: 0 auto;
  margin-left: 85px;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}


.check {
  font-weight: 100;
  color: var(--main_reason);
  color: var(--main_reason);
  position: relative;
  padding-left: 10px;
  margin-bottom: 22px;
}

.checkbox {
  display: none;
  position: absolute;
}

.check:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  background: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  left: -37px;
}

.check:disabled {
  color: var(--disabled);
}

.infra {
  display: grid;
}

.infra input:checked+.check::before {
  background: url("../img/checkbox_on.png");
  background-repeat: no-repeat;
}

.housings_type input:checked+.check::before {
  background: url("../img/checkbox_on.png");
  background-repeat: no-repeat;
}

.btn_transparent {
  font: inherit;
  font-weight: 100;
  color: var(--main_reason);
  background: transparent;
  border: 2px solid;
  border-color: var(--main_reason);
  border-radius: 2px;
  cursor: pointer;
  width: 137px;
  height: 36px;
}

.housings_type {
  margin-left: 87px;
  display: grid;
}

.btn_transparent:hover {
  color: var(--base_color);
  background-color: var(--main_reason);
  cursor: pointer;
}

.sort {
  padding-top: 3px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
  display: flex;
  margin-top: 32px;
}

.sort_title {
  font-size: 12px;
  margin-left: 40px;
}

.sort_option {
  border-bottom: 1px dotted #000;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  margin-left: 40px;
  margin-bottom: auto;
}

.sort_option:hover {
  color: var(--blue);
  cursor: pointer;
}

.sort_option:active {
  color: var(--base_color);
  border-bottom: none;
}

.sort_option:focus {
  color: var(--blue);
  border-bottom: none;
}

.arrows_sort_up {
  background: url("../img/arrows_up.jpg");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 495px;
  margin-top: 5px;
}

.arrows_sort_up:hover {
  background: url("../img/arrows_up_hover.jpg");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 495px;
  margin-top: 5px;
}

.arrows_sort_up:active {
  background: url("../img/arrows_up_active.jpg");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 495px;
  margin-top: 5px;
}

.arrows_sort_up:focus {
  background: url("../img/arrows_up_active.jpg");
  background-repeat: no-repeat;
}

.arrows_sort_down {
  background: url("../img/arrows_down.jpg");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-top: 5px;
}

.arrows_sort_down:hover {
  background: url("../img/arrows_hover_down.jpg");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-top: 5px;
}

.arrows_sort_down:active {
  background: url("../img/arrows_down_active.jpg");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-top: 5px;
}

.arrows_sort_down:focus {
  background: url("../img/arrows_down_active.jpg");
  background-repeat: no-repeat;
}

.catalogue_sort_list {
  display: flex;
}

.catalogue_sort_list>h1 {
  margin-top: 30px;
  padding-left: 75px;
  font-size: 21px;
  padding-bottom: 18px;
}

fieldset {
  border: none;
}

.check {
  font-size: 14px;
  line-height: 21px;
}

.fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

.hotels {
  font-size: 14px;
  line-height: 21px;
  color: var(--base_color);
}

.hotels .title_hotel {
  font-size: 21px;
  line-height: 26px;
}

.title_hotel:hover {
  color: var(--blue);
}

.title_hotel:active {
  color: var(--base_color);
  opacity: 0.3;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: var(--rating);
  font-weight: 100;
}

.hotels .hotels_type {
  color: var(--reason_color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  margin: 0 auto;
}

.hotels_type {
  display: inline-block;
  width: 110px;
}

.hotel_rate_text {
  text-align: center;
  background-color: var(--rate_text_background);
  padding: 3px 13px;
  font-weight: 100;
}

.hotel_rate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon_stars {
  display: flex;
  width: 90px;
  list-style: none;
  flex-direction: row-reverse;
  margin-left: 60px;
  margin-top: 15px;
}

.range_stars {
  background: url("../img/star.jpg");
  background-repeat: no-repeat;
  width: 90px;
  height: 20px;
}

.hotels>a {
  color: var(--main_reason);
}

section .hotel {
  display: flex;
  border: 1px solid;
  border-color: var(--border_hotels);
}

.hotel_img {
  margin: 30px 30px 30px 75px;
}

.hotel_info {
  display: flex;
  flex-direction: column;
}

.hotel_type .hotels_type_block {
  display: flex;
  justify-content: space-between;
}

.hotel_action {
  display: flex;
  margin-left: -5px;
}

.hotel_action .hotel_rate_text {
  display: flex;
  margin-left: 522px;
}

.button_blue {
  font: inherit;
  color: var(--main_reason);
  background: var(--blue);
  cursor: pointer;
  width: 110px;
  height: 25px;
  text-align: center;
  margin-right: 6px;
  padding-top: 5px;
}

.button_blue:hover {
  background-color: var(--blue_hover);
  cursor: pointer;
}

.button_blue:active {
  background-color: var(--blue_active);
  color: 0.3;
}

.button_brown {
  font: inherit;
  color: var(--main_reason);
  background: var(--brown);
  cursor: pointer;
  width: 110px;
  height: 25px;
  text-align: center;
  margin-right: 6px;
  padding: 5px 15px 0 15px;
}

.button_brown:hover {
  background-color: var(--brown_hover);
  cursor: pointer;
}

.button_brown:active {
  background-color: var(--brown_active);
  color: var(--main_reason);
}

img {
  max-width: 100%;
  height: auto;
}
